.gradle
!gradle/wrapper/gradle-wrapper.jar
/site/
/examples/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/build/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.DS_Store

/docs/CHANGELOG.md
/docs/CONTRIBUTING.md
/docs/providers/
/docs/index.md
